<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SpringBootBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    

    <!-- Define Existing Filters -->
    <filter>
        <filter-name>ExistingFilter1</filter-name>
        <filter-class>j2ee.filter.ExistingFilter1</filter-class>
    </filter>
    <filter>
        <filter-name>ExistingFilter2</filter-name>
        <filter-class>j2ee.filter.ExistingFilter2</filter-class>
    </filter>

    <!-- Define Custom Filters -->
    <filter>
        <filter-name>CustomFilter1</filter-name>
        <filter-class>j2ee.filter.CustomFilter1</filter-class>
    </filter>
    <filter>
        <filter-name>CustomFilter2</filter-name>
        <filter-class>j2ee.filter.CustomFilter2</filter-class>
    </filter>
	

    <!-- Map filters to URL patterns -->
    <filter-mapping>
        <filter-name>ExistingFilter1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExistingFilter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomFilter1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomFilter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Define servlet --> 
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>j2ee.filter.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    
    
    <!-- Register the springSecurityFilterChain -->
    <!-- Add Spring Security Filter Chain Registration: You need to register the springSecurityFilterChain in your web.xml. Since you're not using Spring Boot, this registration needs to be done manually. -->
    <!--
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <!-- Add the following configuration to your web.xml to register ContextLoaderListener -->
    <!--
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	-->
	
</web-app>